* {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: normal 14px/1 '돋움', 'arial';
    color: #222328;
    background: #fff;

}

a {
    text-decoration: none;
    color:  #222328;
}

ul, li {
    list-style: none;
}

header, nav, aside, main, section, article, footer {
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 14px;
    font-weight: normal;
}

em, i, address {
    font-style: normal;
}

.blind {
    display: block;
    overflow: hidden;
    text-indent: -2000px;
}